{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        {% for article in articles %}
            <div class="jumbotron">
                <div class="card-body">
                    <h1>Заголовок: {{ article.title }}</h1>
                    <br>
                    <h3>Автор: {{ article.author }}</h3>
                    <br>
                    <div>Содержимое: {{ article.content }}</div>
                    <br>
                    <a class="btn btn-info my-2" href="{{ path('single_article', {'article': article.id}) }}">Открыть</a>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
